<%= link_to 'New Make', new_admin_make_path, class: "action_button fright" %>
<h1 class="centralise">MAKES</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="centralise" width="140">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td class="action_button"><%= link_to 'Edit', edit_admin_make_path(make) %></td>
        <td class="action_button"><%= link_to 'Delete', admin_make_path(make), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
