<%= link_to 'New Make', new_admin_make_path, class: "waves-effect indigo darken-2 btn" %>
<h4>MAKES</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= link_to 'Edit', edit_admin_make_path(make), class: "waves-effect indigo darken-2 btn" %></td>
        <td><%= link_to 'Delete', admin_make_path(make), class: "waves-effect indigo darken-2 btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
