<div class="container">
<h5>MAKES
<%= link_to new_admin_make_path do %>
  <i class="material-icons">add</i>
<% end %>
</h5>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @makes.each do |make| %>
      <tr>
        <td><%= make.name %></td>
        <td><%= link_to edit_admin_make_path(make) do %><i class="material-icons">edit</i><% end %></td>
        <td><%= link_to admin_make_path(make), method: :delete, data: { confirm: 'Are you sure?' } do %><i class="material-icons">add</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>