<div class="container">
<h5>INTERIOR
<%= link_to new_admin_interior_colour_path do %>
  <i class="material-icons">add</i>
<% end %>
</h5>

<table class="bordered highlight">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @interior_colours.each do |interior_colour| %>
      <tr>
        <td><%= interior_colour.name %></td>
        <td><%= link_to edit_admin_interior_colour_path(interior_colour) do %><i class="material-icons">edit</i><% end %></td>
        <td><%= link_to admin_interior_colour_path(interior_colour), method: :delete, data: { confirm: 'Are you sure?' }  do%><i class="material-icons">delete</i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

