<h3>HOW IT WORKS</h3>

<div class="row">

  <div class="col s12 m12">
    <div class="card grey darken-1">
      <div class="card-content white-text">
        <!--span class="card-title">VEHICLE SALES</span-->
        <p>Buyers generally approach us as they are looking for finance, though we are frequently asked to assist sellers as our service helps them to sell their cars.  Below is a step by step overview of what both parties need to consider:</p>
        <ul class="collection">
          <li class="collection-item grey-text">Buyer completes a finance application on the Carousel website.</li>
          <li class="collection-item grey-text">Finance is approved by one or more banks, subject to validations.</li>
          <li class="collection-item grey-text">Buyer submits validating documents to Carousel who submit it to the bank.</li>
          <li class="collection-item grey-text">Based on the supporting documents, the bank issues its terms.  If the buyer is happy with the terms, the loan agreement is ready to be drafted and issued.</li>
          <li class="collection-item grey-text">The seller takes the vehicle through a roadworthy and submits the roadworthy certificate and vehicle registration papers or bank settlement letter to Carousel.</li>
          <li class="collection-item grey-text">Both buyer and seller meet at Carousel in Diep River, Cape Town.  The seller's vehicle is taken through an inspection and all the licensing/registration paperwork is completed</li>
          <li class="collection-item grey-text">The buyer signs the loan agreement and all insurance related paperwork.</li>
          <li class="collection-item grey-text">The seller is paid as soon as all the documentation has been signed and the buyer takes immediate delivery of the vehicle.</li>
        </ul>
        <p>If both parties are efficient the whole process can be completed in less than 24 hours.  Note that our goal is to facilitate safe vehicle deliveries, which is why we insist that the vehicle is exchanged at our premises.</p>          </ul>
      </div>
      <div class="card-action grey darken-3">
        <%= link_to "Apply Now", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>