<h1>HOW IT WORKS</h1>

<p>Buyers generally approach us as they are looking for finance, though we are frequently</p>
<ul>
  <li>Buyer completes a finance application on the Carousel website.</li>
  <li>Buyer submits validating documents to Carousel who submit it to the bank</li>
</ul>