<h3>SERVICES</h3>

<div class="row">

  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>VEHICLE SALES</strong></span>
        <ul class="collection">
        <li class="collection-item">We offer an extensive range of mostly one year old vehicles.    </li>
        <li class="collection-item">The majority of these cars are one owner, ex-fleet vehicles, still under manufacturer's warranty.</li>
        <li class="collection-item">In addition we stock a limited number of high quality older model cars.</li>
        </ul>
      </div>
      <div class="card-action">
        <%= link_to "Vehicles for Sale", vehicles_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
A
  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>PRIVATE VEHICLE FINANCE</strong></span>
        <ul class="collection">
        <li class="collection-item">uying a vehicle privately?  we can assist with a wide range of financial solutions.</li>
        <li class="collection-item">As a local business we can help you immediately and make sure you buy or sell your car quickly, with zero hassles.</li>
        <li class="collection-item">We take care of the finance, insurance, roadworthy, licencing and registrations.</li>
        </ul>
      </div>
      <div class="card-action">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>VEHICLE LEASING</strong></span>
        <ul class="collection">
        <li class="collection-item">Can't afford your current monthly instalments?</li>
        <li class="collection-item">Need to finance a residual or balloon payment?</li>
        <li class="collection-item">Want to release cash from your car?</li>
        <li class="collection-item">Our service is tailor-made for you.  One application and a simple inspection is all it takes.</li>
        </ul>
      </div>
      <div class="card-action">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>

  <div class="col s12 l6">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><strong>RENT TO OWN</strong></span>
        <ul class="collection">
        <li class="collection-item">As a regulated financial services provider we have agencies and underwriting agreements with a number of insurance companies.</li>
        <li class="collection-item">We handle both new business and claims.</li>
        <li class="collection-item">As car finance specialists, we know cars and what insurance is appropriate for each vehicle.</li>
        </ul>
      </div>
      <div class="card-action">
        <%= link_to "Contact Us", contact_path, class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
</div>