<%= link_to 'New Plan', new_admin_plan_path, class: "waves-effect indigo darken-2 btn" %>
<h4>PLANS</h4>

<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= link_to 'Edit', edit_admin_plan_path(plan), class: "waves-effect indigo darken-2 btn" %></td>
        <td><%= link_to 'Delete', admin_plan_path(plan), class: "waves-effect indigo darken-2 btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>