<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>APPLICATION DETAILS</h1>
    <h3>PERSONAL INFORMATION</h3>
    <p>Title: <%= @message.title %> </p>
    <p>ID Number: <%= @message.id %> </p>
  </body>
</html>