/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";

 $primary-color: rgba(19, 52, 87, 1) !default;
 $secondary-color: color("red", "darken-1") !default;

 @import "materialize";
 @import "materialize/extras/nouislider";

 nav {height: 112px;  vertical-align: bottom;}
 #nav-mobile li a {height: 112px;  vertical-align: middle; margin: 0; padding-top: 26px;}
 #call {height: 112px; vertical-align: middle; margin: 0; padding-top: 26px; color: red;}
 #menu {padding-top: 26px;}
 footer {font-size: 80%;}
 thead { border: none }
 td {padding: 0;}
 html {font-family: Lato, GillSans, Calibri, Trebuchet, sans-serif;}
 li a{ color: $secondary-color;}