<%= link_to 'New Paint Colour', new_admin_paint_colour_path, class: "waves-effect indigo darken-2 btn"%>
<h4>PAINT COLOURS</h4>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @paint_colours.each do |paint_colour| %>
      <tr>
        <td><%= paint_colour.name %></td>
        <td><%= link_to 'Edit', edit_admin_paint_colour_path(paint_colour), class: "waves-effect indigo darken-2 btn" %></td>
        <td><%= link_to 'Delete',  admin_paint_colour_path(paint_colour), class: "waves-effect indigo darken-2 btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
